extends layout

block content
    a(href='/member/add/', class='add') Add New Member
    h1= title
    p Welcome to #{title}



    ul
        each val in data
            li= val.surname + ' ' + val.name.substr(0, 1) + '. ' + val.second_name.substr(0, 1)
                a(href='/member/delete/'+val.id, class='delete')