extends layout

block content
    h1= title
    p Welcome to #{title}

    div.add_new_member
        form(name="login", action="/member/add", method="post")
            div.name
                label Фамилия:
                input(type="text", name="surname")

            div.name
                label Имя:
                input(type="text", name="name")

            div.name
                label Отечество:
                input(type="text", name="second_name")

            input(type="submit", value="Add New")