body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.delete {
    background: url("../images/delete.png") no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.add_new_member label {
    width: 100px;
    display: inline-block;
    margin-bottom: 20px;
}

.add_new_member input {
    padding: 5px;
    width: 150px;
}